.bookCard {
  display: flex;
  flex-direction: column;
  height: '300px';
  border-radius: 2;
  box-shadow: 3;
  justify-content: space-between;
  align-items: center;
  width: calc((100% - 2 * 16px) / 2); /* 3 per row with spacing */
  background-color: white;
  height:400px;
  max-width: 400px;
}


